CompileFlags:
  Add:
    - "-I/opt/homebrew/Cellar/gcc/15.2.0/include/c++/15"
    - "-I/opt/homebrew/Cellar/gcc/15.2.0/include/c++/15/aarch64-apple-darwin24"
    - "-I/opt/homebrew/Cellar/gcc/15.2.0/include/c++/15/backward"
    - "-I/opt/homebrew/include"
    - "-nostdinc++"
